<mat-selection-list #options [multiple]="false">
    <mat-list-option *ngFor="let option of sidenavOptions" [routerLink]="option.url" [value]="option.name">
        <mat-icon mat-list-icon>{{ option.icon }}</mat-icon>
        <span>{{ option.name | translate }}</span>
    </mat-list-option>
</mat-selection-list>