<div class="container-view">
    <div class="tools">

    </div>
    <mat-card class="m-top-25">
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel>{{ 'ADD_NEW_USER' | translate }}</ng-template>
                <form [formGroup]="firstFormGroup">
                    <div class="container-create-user">
                        <div>
                            <div>
                                <mat-form-field>
                                    <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
                                    <input formControlName="firstName" placeholder="Allen" required matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ 'LAST_NAME' | translate }}</mat-label>
                                    <input formControlName="lastName" placeholder="Walker" required matInput>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>{{ 'EMAIL' | translate }}</mat-label>
                                    <input formControlName="email" type="email" required
                                        placeholder="example@example.com" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ 'DOCUMENT_ID' | translate }}</mat-label>
                                    <input formControlName="documentId" required matInput>
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" matStepperNext
                                    [disabled]="firstFormGroup.invalid">{{ 'SAVE_USER' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel>{{ 'SELECT_AMOUNT' | translate }}</ng-template>
                <app-apply-loan (loanValueSelected)="selectLoan($event, stepper)"></app-apply-loan>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>{{ 'DONE' | translate }}</ng-template>
                <div class="container-loan-status">
                    <h2 *ngIf="firstFormGroup && firstFormGroup.value.firstName && firstFormGroup.value.lastName">
                        {{ firstFormGroup.value.firstName }}
                        {{ firstFormGroup.value.lastName }}
                    </h2>
                    <h1>${{ secondFormGroup.value.loanValue }}</h1>
                    <mat-chip-list>
                        <mat-chip *ngIf="firstFormGroup && firstFormGroup.value.lastCreditApproved" color="accent"
                            selected>
                            {{ 'APPROVED' | translate }}</mat-chip>
                        <mat-chip *ngIf="firstFormGroup && !firstFormGroup.value.lastCreditApproved" color="warm"
                            selected>
                            {{ 'REFUSED' | translate }}</mat-chip>
                    </mat-chip-list>
                </div>

            </mat-step>
        </mat-horizontal-stepper>




    </mat-card>
</div>