<div *ngIf="capital$ | async as capital">
    <button mat-button (click)="capitalCard = !capitalCard">
        <mat-icon>local_atm</mat-icon>
        ${{capital[0].total}}
    </button>
    <mat-card class="capitalCard" *ngIf="capitalCard">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile class="grid-1" [colspan]="4" [rowspan]="1">
                <mat-icon>monetization_on</mat-icon>
                <small>{{ 'TOTAL' | translate }}</small>
                <h1>${{ capital[0].total }}</h1>
            </mat-grid-tile>
            <mat-grid-tile class="grid-2" [colspan]="2" [rowspan]="1">
                <mat-icon>done_all</mat-icon>
                <small>{{ 'LOANS' | translate }}</small>
                <h1>${{ capital[0].loans }}</h1>
            </mat-grid-tile>
            <mat-grid-tile class="grid-3" [colspan]="2" [rowspan]="1">
                <mat-icon>add_task</mat-icon>
                <small>{{ 'PAYMENTS' | translate }}</small>
                <h1>${{ capital[0].payments }}</h1>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-raised-button (click)="restoreCapital()">
            {{ 'RESTORE' | translate }}
        </button>
    </mat-card>
</div>