// COLORS
$primary: #673ab7;
$medium-primary: #805bc1;
$light-primary: #faf7ff;
$light-grey: #f5f5f5;
$white: #fff;


//
$light-red: #ffe5e5;
$light-green: #dcffdf;
$medium-red: #f1c6c4;
$medium-green: #bafbb3;
$medium-purple: #ebdfff;

// SHADOW
$light-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14),
0px 1px 3px 0px rgba(0, 0, 0, 0.12);