.container {
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-table {
  overflow: auto;
}

.container-create-user {
  justify-content: center;
  display: grid;

  div {
    mat-form-field {
      margin-left: 10px;
      margin-right: 10px;

      @media screen and (max-width: 531px) {
        width: 100%;
        margin: 0;
      }
    }

    button {
      width: 100%;
    }
  }
}

.container-view {
  padding: 25px;
}

.mat-drawer-container {
  background-color: $light-grey;
}

mat-drawer.mat-drawer.sidenav.mat-elevation-z2.ng-tns-c96-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted.mat-drawer-opened {
  border: none;
}

.container-loan-status {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;

  h1 {
    color: $primary;
    font-weight: bold;
    font-size: 40px;
  }

  mat-chip-list {
    justify-content: center;
    display: flex;
  }
}

.tools {
  display: flex;
  justify-content: space-between;
}