.container-calculator {
  display: grid;
  justify-content: center;

  h1 {
    text-align: center;
  }

  .calculator {
    .mat-form-field-wrapper {
      margin-left: 20px;
      margin-right: 20px;

      input {
        text-align: center;
        font-size: 30px;
        color: $primary;
      }
    }

    mat-form-field {
      @media screen and (max-width: 484px) {
        max-width: 50%;

        .mat-form-field-wrapper {
          input {
            font-size: 18px;
          }
        }
      }
    }
  }
}