<mat-drawer-container class="container" autosize>
    <mat-drawer #sidenav class="sidenav mat-elevation-z2" [mode]="mobileQuery.matches ? 'over' : 'side'">
        <app-sidenav></app-sidenav>
    </mat-drawer>
    <div class="content">
        <app-header (sidenavStatus)="sidenavTogle(sidenav)"></app-header>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>